{#
/**
 * @file
 * default theme implementation to display a crossword solution.
 *
 * Available variables:
 * - content : all available pieces of the crossword which may include:
 *   - title : The title of the crossword as contained in the parsed file.
 *   - author : The author of the crossword as contained in the parsed file.
 *   - notepad : Notes contained in the parsed file.
 *   - grid : The crossword grid as contained in the parsed file.
 * - attributes : HTML attributes for the containing element.
 */
#}
<div{{ attributes.addClass('crossword').addClass('crossword-solution') }}>

  <div class="crossword-header">
    {% if content.title is not empty or content.author is not empty or content.notepad is not empty %}
      <div class="crossword-details">
        {{ content.title }}
        {{ content.author }}
        {{ content.notepad }}
      </div>
    {% endif %}
  </div>

  {{ content.grid }}

</div>
