{#
/**
 * @file
 * default theme implementation to display crossword controls.
 *
 * Available variables:
 * - content : all available controls which may include:
 *   - errors : Control for showing/hiding errors
 *   - references : Control for showing/hiding referenced clues.
 *   - cheat : Control to cheat on the current square.
 *   - solution : Control to reveal entire solution.
 *   - clear : Control to clear all text from the grid.
 *   - undo : Control to undo recent moves.
 *   - redo : Control to redo recent moves.
 */
#}
<div class="crossword-controls">
  {% if content.errors is not empty or content.references is not empty %}
    <div class="crossword-options">
      {{ content.errors }}
      {{ content.references }}
    </div>
  {% endif %}
  {% if content.cheat is not empty or content.solution is not empty or content.clear is not empty or content.undo is not empty or content.redo is not empty%}
    <div class="crossword-buttons">
      {% if content.cheat is not empty or content.solution is not empty or content.clear is not empty %}
        <div class="solution-buttons">
          {{ content.cheat }}
          {{ content.solution }}
          {{ content.clear }}
        </div>
      {% endif %}
      {% if content.undo is not empty or content.redo is not empty %}
        <div class="undo-redo">
          {{ content.undo }}
          {{ content.redo }}
        </div>
      {% endif %}
    </div>
  {% endif %}
</div>
